<!--<div class="col-xs-12">-->
  <!--<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">-->
    <!--<div class="form-group">-->
      <!--<label for="searchTerm">Search Users: </label>-->
      <!--<input type="text" class="form-control" id="searchTerm" formControlName="term">-->
    <!--</div>-->
    <!--<button class="btn btn-primary" type="submit">Submit</button>-->
  <!--</form>-->
<!--</div>-->


<form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" formControlName="term">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
